### Introduction

Welcome to your first lab notebook. This one has just basic functions for importing and finding your way around a dataframe. 

For each incomplete function, you need to write one line of code to complete the function. Start by running the cell called 'import libraries'. Then, for each subsequent code cell, add the line of code and run the cell. If it runs without error, move on to the next cell. When all of your cells run properly, run the tests cell. If that runs properly, submit the notebook on Blackboard.

DO NOT change any code that is already in this notebook. I can guarantee you that I have built and run this all the way through, including the tests. Absolutely nothing needs to be edited or corrected. You simply need to write one line of code for each function to complete it. 

If you have done everything properly, then the last cell of code - the tests - will run without any output at all (you'll just see the green check mark). If you have done something wrong, you will get an error message: if it is an error directly related to the test it will say "test # failed", if it is some other type of error then the actual error will print out. I have not written error messages, but you will know from what prints out which function has an error. In fact, if you have done something wrong, chances are that the erroneous function itself will not run and you'll get an error at that point, prior to even reaching the tests. 

All of the answers you need will be in example notebooks I have provided, or in the API references for scikit-learn, pandas or seaborn.

### Import libraries

In [5]:
!pip install seaborn
import pytest
import pandas as pd
import numpy as np 
import seaborn as sns

Collecting seaborn
  Obtaining dependency information for seaborn from https://files.pythonhosted.org/packages/83/11/00d3c3dfc25ad54e731d91449895a79e4bf2384dc3ac01809010ba88f6d5/seaborn-0.13.2-py3-none-any.whl.metadata
  Downloading seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Requirement already satisfied: numpy!=1.24.0,>=1.20 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from seaborn) (1.26.4)
Requirement already satisfied: pandas>=1.2 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from seaborn) (2.2.1)
Collecting matplotlib!=3.6.1,>=3.4 (from seaborn)
  Obtaining dependency information for matplotlib!=3.6.1,>=3.4 from https://files.pythonhosted.org/packages/c1/f2/325897d6c498278b0f8b460d44b516f5db865ddb4ba9018e9fe58a3e4633/matplotlib-3.8.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading matplotlib-3.8.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting contourpy>=1.0.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for contourpy>=1.0.1 from https://files.pythonhosted.org/packages/58/56/e2c43dcfa1f9c7db4d5e3d6f5134b24ed953f4e2133a4b12f0062148db58/contourpy-1.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading contourpy-1.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (5.8 kB)
Collecting cycler>=0.10 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for cycler>=0.10 from https://files.pythonhosted.org/packages/e7/05/c19819d5e3d95294a6f5947fb9b9629efb316b96de511b418c53d245aae6/cycler-0.12.1-py3-none-any.whl.metadata
  Downloading cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for fonttools>=4.22.0 from https://files.pythonhosted.org/packages/a6/ba/5eac3e9c9bbc2dea3606e46de08bcef0908d74e7ccf89a71701b95a16747/fonttools-4.49.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata
  Downloading fonttools-4.49.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (159 kB)
     ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 159.1/159.1 kB 2.3 MB/s eta 0:00:00a 0:00:01
Collecting kiwisolver>=1.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for kiwisolver>=1.3.1 from https://files.pythonhosted.org/packages/6f/40/4ab1fdb57fced80ce5903f04ae1aed7c1d5939dda4fd0c0aa526c12fe28a/kiwisolver-1.4.5-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata
  Downloading kiwisolver-1.4.5-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl.metadata (6.4 kB)
Requirement already satisfied: packaging>=20.0 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (23.2)
Collecting pillow>=8 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for pillow>=8 from https://files.pythonhosted.org/packages/cb/c3/98faa3e92cf866b9446c4842f1fe847e672b2f54e000cb984157b8095797/pillow-10.2.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata
  Downloading pillow-10.2.0-cp310-cp310-manylinux_2_28_x86_64.whl.metadata (9.7 kB)
Collecting pyparsing>=2.3.1 (from matplotlib!=3.6.1,>=3.4->seaborn)
  Obtaining dependency information for pyparsing>=2.3.1 from https://files.pythonhosted.org/packages/39/92/8486ede85fcc088f1b3dba4ce92dd29d126fd96b0008ea213167940a2475/pyparsing-3.1.1-py3-none-any.whl.metadata
  Downloading pyparsing-3.1.1-py3-none-any.whl.metadata (5.1 kB)
Requirement already satisfied: python-dateutil>=2.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from matplotlib!=3.6.1,>=3.4->seaborn) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2023.3.post1)
Requirement already satisfied: tzdata>=2022.7 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from pandas>=1.2->seaborn) (2024.1)
Requirement already satisfied: six>=1.5 in /srv/conda/envs/notebook/lib/python3.10/site-packages (from python-dateutil>=2.7->matplotlib!=3.6.1,>=3.4->seaborn) (1.16.0)
Downloading seaborn-0.13.2-py3-none-any.whl (294 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 294.9/294.9 kB 5.5 MB/s eta 0:00:00ta 0:00:01
Downloading matplotlib-3.8.3-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (11.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 11.6/11.6 MB 33.5 MB/s eta 0:00:0000:010:01
Downloading contourpy-1.2.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (310 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 310.7/310.7 kB 27.0 MB/s eta 0:00:00
Downloading cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.49.0-cp310-cp310-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (4.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.6/4.6 MB 30.4 MB/s eta 0:00:0000:0100:01
Downloading kiwisolver-1.4.5-cp310-cp310-manylinux_2_12_x86_64.manylinux2010_x86_64.whl (1.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 1.6/1.6 MB 27.2 MB/s eta 0:00:00a 0:00:01
Downloading pillow-10.2.0-cp310-cp310-manylinux_2_28_x86_64.whl (4.5 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.5/4.5 MB 24.3 MB/s eta 0:00:0000:0100:01
Downloading pyparsing-3.1.1-py3-none-any.whl (103 kB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 103.1/103.1 kB 16.6 MB/s eta 0:00:00
Installing collected packages: pyparsing, pillow, kiwisolver, fonttools, cycler, contourpy, matplotlib, seaborn
Successfully installed contourpy-1.2.0 cycler-0.12.1 fonttools-4.49.0 kiwisolver-1.4.5 matplotlib-3.8.3 pillow-10.2.0 pyparsing-3.1.1 seaborn-0.13.2

### Import data

I have completed this first one for you as an example. All of the functions in this lab will be one-liners, and I give you a lot to work with. Rest assured that future labs will not be so easy...

In [6]:
# Complete the following function to import the PENGUINS dataset from Seaborn, and save it as a dataframe called df1

def import_data():                          # I give you this, it is the start of the function
    df1 = sns.load_dataset('penguins')      # You provide this line of code for each function
    return df1                              # I give you this, it says what the function should output

df1 = import_data()                         # I give you this, it assigns a variable name to the function and output
df1.head()                                  # Here, we run the function and look at the output

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

### Describe dataframe

In [7]:
# Complete the following function to describe the dataset

def describe_df(import_data):
    describe_df = df1.describe()
    return describe_df

describe_df = describe_df(import_data)
describe_df

       bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
count      342.000000     342.000000         342.000000   342.000000
mean        43.921930      17.151170         200.915205  4201.754386
std          5.459584       1.974793          14.061714   801.954536
min         32.100000      13.100000         172.000000  2700.000000
25%         39.225000      15.600000         190.000000  3550.000000
50%         44.450000      17.300000         197.000000  4050.000000
75%         48.500000      18.700000         213.000000  4750.000000
max         59.600000      21.500000         231.000000  6300.000000

In [8]:
# Complete the function to print a list of columns in the dataset

def what_columns(import_data):
    what_columns = df1.columns
    return what_columns

what_columns = what_columns(import_data)
what_columns

Index(['species', 'island', 'bill_length_mm', 'bill_depth_mm',
       'flipper_length_mm', 'body_mass_g', 'sex'],
      dtype='object')

In [9]:
# Complete the function to print a list of the features with their data types

def what_types(import_data):
    what_types = df1.dtypes.tolist()
    return what_types

what_types = what_types(import_data)
what_types

[dtype('O'),
 dtype('O'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('float64'),
 dtype('O')]

In [10]:
# Complete the following function to print the number of rows and columns in the dataset

def rows_cols(import_data):
    rows_cols = df1.shape
    return rows_cols

rows_cols = rows_cols(import_data)
rows_cols

(344, 7)

### Select rows and columns

In [11]:
# Complete the following function to select the second row of the dataframe

def select_row_by_location(import_data):
    select_row_by_location = df1.iloc[1]
    return select_row_by_location

select_row_by_location = select_row_by_location(import_data)
select_row_by_location

species                 Adelie
island               Torgersen
bill_length_mm            39.5
bill_depth_mm             17.4
flipper_length_mm        186.0
body_mass_g             3800.0
sex                     Female
Name: 1, dtype: object

In [12]:
# Complete the following function to select the first column of the dataframe

def select_column_by_location(import_data):
    select_column_by_location = df1.iloc[:, 0]
    return select_column_by_location

select_column_by_location = select_column_by_location(import_data)
select_column_by_location

0      Adelie
1      Adelie
2      Adelie
3      Adelie
4      Adelie
        ...
339    Gentoo
340    Gentoo
341    Gentoo
342    Gentoo
343    Gentoo
Name: species, Length: 344, dtype: object

In [13]:
# Complete the following function to select rows where the sex = Female

def select_row_by_condition(import_data):
    select_row_by_condition = df1[df1['sex'] == 'Female']
    return select_row_by_condition

select_row_by_condition = select_row_by_condition(import_data)
select_row_by_condition

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female
6,Adelie,Torgersen,38.9,17.8,181.0,3625.0,Female
12,Adelie,Torgersen,41.1,17.6,182.0,3200.0,Female
...,...,...,...,...,...,...,...
332,Gentoo,Biscoe,43.5,15.2,213.0,4650.0,Female
334,Gentoo,Biscoe,46.2,14.1,217.0,4375.0,Female
338,Gentoo,Biscoe,47.2,13.7,214.0,4925.0,Female
340,Gentoo,Biscoe,46.8,14.3,215.0,4850.0,Female
342,Gentoo,Biscoe,45.2,14.8,212.0,5200.0,Female

In [16]:
# Complete the following function to select the numeric columns where type is either int64 or float64 

def select_column_by_condition(import_data):
    select_column_by_condition = df1.select_dtypes(include=['int64', 'float64'])
    return select_column_by_condition

select_column_by_condition = select_column_by_condition(import_data)
select_column_by_condition

     bill_length_mm  bill_depth_mm  flipper_length_mm  body_mass_g
0              39.1           18.7              181.0       3750.0
1              39.5           17.4              186.0       3800.0
2              40.3           18.0              195.0       3250.0
3               NaN            NaN                NaN          NaN
4              36.7           19.3              193.0       3450.0
..              ...            ...                ...          ...
339             NaN            NaN                NaN          NaN
340            46.8           14.3              215.0       4850.0
341            50.4           15.7              222.0       5750.0
342            45.2           14.8              212.0       5200.0
343            49.9           16.1              213.0       5400.0

[344 rows x 4 columns]

### TESTS

In [15]:
try:
    assert isinstance(import_data(), pd.DataFrame)
except:
    print("test 1 failed")

try:
    assert describe_df.iloc[3,1] == 13.1
except:
    print("test 2 failed")

try:
    assert what_columns[2] == 'bill_length_mm'  
except:
    print("test 3 failed")

try:
    assert what_types[5] == 'float64'
except:
    print("test 4 failed")

try:
    assert rows_cols[0] == 344
except:
    print("test 5 failed")

try:
    assert select_row_by_location[3] == 17.4
except:
    print("test 6 failed")

try:
    assert select_column_by_location[339] == "Gentoo"
except:
    print("test 7 failed")

try:
    assert select_row_by_condition.iloc[12,3] == 18.6
except:
    print("test 8 failed")

try:
    assert select_column_by_condition.iloc[2,2] == 195
except:
    print("test 9 failed")

/tmp/ipykernel_98/632317306.py:27: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  assert select_row_by_location[3] == 17.4